@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix {
  clear: both;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 20px 0;
  display: inline-block;
}

.nav-bar {
  background-color: #c12127;
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 0;
  font-size: 14px;
}

.nav-bar a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.top-left {
  margin-left: 10px;
  display: inline-block;
}

.top-left .acronym {
  margin-left: 10px;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.header {
  background: rgb(32, 101, 136);
  color: white;
  background-image: url('images/city-scape.svg');
  padding-bottom: 30px;
}

.logo-search {
  padding: 15px;
}

.logo-search .npm-logo {
  float: left;
  width: 8%;
}

.logo-search form {
  float: left;
  margin: 0 1%;
  width: 78%;
}

.logo-search input {
  padding: 10px;
  width: 92%;
}

.logo-search button {
  padding: 10px;
  margin-left: -5px;
}

.logo-search input,
.logo-search button {
  background: rgb(31, 82, 111);
  border: 1px solid #888;
  color: white;
}

.logo-search p {
  float: left;
  width: 12%;
}

.logo-search a {
  color: white;
  text-decoration: none;
}

.logo-search img {
  width: 20%;
}

.header-text {
  width: 60%;
  margin: 0 auto;
}

.header-text-block {
  display: inline-block;
  width: 60%;
}

.header-text h1 {
  font-weight: normal;
}

.header-text p {
  margin: 20px 0;
}

.header-text .btn {
  background: rgb(240, 146, 51);
}

.header-text img {
  float: right;
}